<@{{ subscription.slack_id }}>, found a few slots over the next {{ config.TRACK_WEEKS_DEFAULT }} weeks(s):
{{ renderred_centers }}

Book slots on the <https://www.cowin.gov.in/home|CoWIN portal>. Please book *only* if you are sure you'll make it.
